body {
    background-color: floralwhite;
  }
  
  img {
    width: 50%;
    display: block;
    margin: auto;
  }
   button > a {
       text-decoration: none;
   }

  #French{
      transform: rotate(90deg);
  }
  